*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

.loadingImg{
  width: 300px;
  display: flex;
  margin: 100px auto;
}

.fa-spin{
  font-size: 2rem;
  color: rgb(119, 97, 44);
  display: flex;
  justify-content: center;
}


.calendar-top{
  display: flex;
  position: fixed;
  right: 25px;
  bottom: 20px;
}

.whatsapp-button{
  margin: 0 auto;
  border: none;
  padding: .2rem .65rem;
  border-radius: 10px;
  font-size: 2.5rem;
  background-color: #b6a591;
  color: white;
  text-align: center;
  cursor: pointer;
}


@media only screen and (min-width: 800px){
  .fa-spin{
    font-size: 3rem;
  }

  .loadingImg{
    width: 400px;
  }
}